<div id="start">
  <p>{{lat}}</p>
  <p>{{long}}</p>

  {{#if toilets}}
    <ul>
      {{#each toilets}}
      <li>
        {{description}}
        op {{distance}}km
        <br />
        <a href="toilet/{{id}}" role="nav">view</a>
      </li>
      {{/each}}
    </ul>
  {{else}}
    <p>Bezig met inladen van alle toiletten in je buurt.</p>
  {{/if}}

  <a href="map" role="nav">Bekijk op de kaart</a>
  <br />
  <a href="#" class='reload'>Herlaad de lijst</a>
</div>
