<div id="start">
  <h2>{{description}}</h2>
  <ul>
  	<li>Eigenaar: {{owner}}</li>
  	<li>Adres: {{#with address}} {{street}} {{number}} {{/with}}</li>
  	<li>Afstand: {{distance}}km</li>
  </ul>

  <a href="#" class='back'>Naar overzicht</a>
</div>
